/* import/_layout.scss */

.wrap.open_detail {
  overflow: hidden;
  height: 0;
}
.layout_inner {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  $height: 48px;
  height: $height;
  border-bottom: 1px solid #e2e5e8;
  background: #fff;
  text-align: center;
  .logo {
    font-size: 16px;
    font-weight: 300;
    line-height: $height;
  }
  .btn_setting {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #424242;
  }
  .btn_setting.active {
    color: #607d8b;
  }
}
.container {
  overflow-x: hidden;
}
.footer {
  padding: 24px 0;
  font-size: 13px;
  text-align: center;
  em {
    font-weight: 400;
  }
}