/* import/_phostalgia.scss */

// setting area
.setting_area {
  padding: 18px;
  border-bottom: 1px solid #e2e5e8;
  background: #f6f7f8;
  text-align: center;
  animation: height 0.1s;
  transform-origin: 0 0;
  .setting_group {
    animation: fadeIn 0.5s, translateY 0.5s;
    .tit {
      display: block;
      margin-bottom: 6px;
      font-size: 10px;
      font-weight: 700;
    }
    .btn {
      font-size: 20px;
      color: #c0c0c0;
      transition: color 0.7s;
    }
    .btn + .btn {
      margin-left: 12px;
    }
    .btn.active {
      color: #607d8b;
    }
  }
  .setting_group + .setting_group {
    margin-top: 24px;
  }
  .group_filter {
    .btn {
      font-size: 16px;
    }
  }
}

// photo filter
.photo_area.filter_bnw {
  .list_photo .list_link img,
  .photo_detail .photo_area img {
    filter: grayscale(1);
  }
}
.photo_area.filter_vignette {
  .list_photo .list_link::after,
  .photo_detail .item::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  background: radial-gradient(ellipse at center, transparent 0%, transparent 61%, rgba(0,0,0,0.12) 80% ,rgba(0, 0, 0, 0.3) 100%);
    ///* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+75,0.4+100 */
    //background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
    //background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    //background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    content: '';
  }
}

// photo option
.photo_option {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #242424;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

// photo list
.photo_list {
  .list_photo {
    overflow: hidden;
    margin: 0 -1px;
    .list_item {
      height: 240px;
    }
    .list_item.today_recommend {
      box-sizing: border-box;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      .list_link {
        margin: 1px 0;
      }
    }
    .list_link {
      display: block;
      position: relative;
      height: 100%;
      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .list_photo.view_tile {
    .list_item {
      float: left;
      width: 25%;
      height: auto;
    }
    .list_item.today_recommend {
      overflow: hidden;
      width: 100%;
      height: 240px;
      margin-bottom: 1px;
    }
    .list_link {
      margin: 1px;
    }
  }
}

// photo detail
.photo_detail {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  -webkit-overflow-scrolling: touch;
  .btn_close {
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 10;
    width: 19px;
    height: 19px;
    color: #fff;
    animation: fadeIn 1s;
    transform: rotate(45deg);
    &::before,
    &::after {
      display: block;
      position: absolute;
      background: #fff;
      content: ''
    }
    &::before {
      top: 0;
      left: 9px;
      width: 1px;
      height: 19px;
    }
    &::after {
      top: 9px;
      left: 0;
      width: 19px;
      height: 1px;
    }

  }
  .photo_area {
    position: relative;
    .item {
      position: relative;
      img {
        vertical-align: top;
      }
    }
    .info {
      display: table;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: auto;
      font-weight: 300;
      color: #fff;
      pointer-events: none;
      text-align: center;
      text-shadow: 0 0 4px #000;
      .info_inner {
        display: table-cell;
        vertical-align: middle;
      }
      .area {
        font-size: 13px;
      }
    }
  }
  .desc_area {
    min-height: 80px;
    padding: 18px;
    font-size: 13px;
  }
  .map_area {
    margin: 0 18px 18px;
  }
}

.btn_swiper_prev,
.btn_swiper_next {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  font-size: 40px;
  color: #fff;
  animation: fadeIn 1s;
}
.btn_swiper_prev {
  left: 18px;
}
.btn_swiper_next {
  right: 19px;
}

.layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes translateY {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes height {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}



.equalizer{
  display:inline-block;
  position: absolute;
  top: 32px;
  left: 24px;
  width: 15px;
  background: transparent;
  border: 0;
  transition: opacity 0.5s ease;
}

.equalizer:hover, .equalizer:focus{
  outline: 0;
  opacity: 0.5;
}

.equalizer span{
  display: inline-block;
  width: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
}

@keyframes shorteq{
  0% {height: 10px}
  50% {height: 5px}
  100% {height: 10px}
}
@-webkit-keyframes shorteq{
  0% {height: 10px}
  50% {height: 5px}
  100% {height: 10px}
}

@keyframes talleq{
  0% {height: 15px}
  50% {height: 8px}
  100% {height: 15px}
}
@-webkit-keyframes talleq{
  0% {height: 15px}
  50% {height: 5px}
  100% {height: 15px}
}

.eq1{
  height: 13px;
  left: 0;
  animation-name: shorteq;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  -webkit-animation-name: shorteq;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-delay: 0s;
}

.eq2{
  height: 15px;
  left: 6px;
  animation-name: talleq;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.17s;
  -webkit-animation-name: talleq;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-delay: 0.17s;
}

.eq3{
  height: 13px;
  left: 12px;
  animation-name: shorteq;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.34s;
  -webkit-animation-name: shorteq;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-delay: 0.34s;
}
